
/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: "Futura", serif;
}


@font-face {
    font-family: NewYork;
    src: url(NewYork.otf);
  }

  @font-face {
    font-family: Futura;
    src: url(Futura.ttf);
    
  }

  @font-face {
    font-family: Futurab;
    src: url(FuturaB.ttf);
    
  }

  /*-----------------HEADER------------------*/

.logo {
    align-items: left;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 8px;
    width: 100px;
}

.encabezado {
background-color: #9AB281;
padding-top: 0px;

}

/*-----------------PORTADA------------------*/

.seccion-1 {
    background-color: #839D76;
    /*padding-bottom: 2vh; */
}

.intro-portada {

display: flex;
width: 100%;
max-width: 380px;
align-content: center;
padding: 0 50px;

}

.intro-titulo{
    font-size: 40px;
    margin-top: 20px;
    color: #E3E3E3;
    font-family: "NewYork", serif;
    font-weight: normal;
    padding: 0 50px;
}

.intro-texto{
    font-size: 26px;
    margin-bottom: 25px;
    text-align: justify;
    color: #E3E3E3;
    font-family: "Futura", sans-serif;
    font-weight: normal;
    line-height: 1.3;
    max-width: 330px;
    padding: 0 50px;
}
.boton-1 {
    text-align: center;
}


.intro-btn {
    margin-top: 10px;
    background-color: #1A3722 ;
    color: #E3E3E3;
    border: none;
    font-size: 60;
    font-family: "Futurab", sans-serif;
    padding: 0.9em 1.2em;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 10cm; 
    
}


.intro-btn:hover {
    filter:brightness(140%);
}

.boton-flecha {
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 0;
    margin-bottom: 0vw;
}

/*-----------------PANTALLA 1------------------*/
.seccion-2 {
    background-color: #E3E3E3;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.p1-sub {
    font-family: "Futura";
    font-size: 12px;
    margin: 10px;
    margin-top: 10px;
    text-align: left;
    margin-left: 50px;
    color: #1A3722;
    font-weight: normal;
}

.p1-titulo {
    font-family: "NewYork";
    font-size: 22px;
    margin: 10px;
    margin-top: 10px;
    text-align: left;
    margin-left: 50px;
    color: #1A3722;
    font-weight: normal;
}

.p1-txt {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
    margin-left: 50px;
    width:200vw;
  
    color: #1A3722;
    font-family: "Futura", sans-serif;
    font-weight: normal;
    line-height: 1.3;
    max-width: 330px;
}


.p1-foto {
    align-content: center;
    width: 100%;
    
}
/*-----------------PANTALLA 2------------------*/

.seccion-3 {
    background-color:#839D76 ;
    padding-top: 2.5vh;
    
}

.s3-titulo{
    
    font-family: "NewYork";
    font-size: 22px;
     color: #F0F0F0;
     font-weight: lighter;
     padding: 0 50px;
     text-align: center;
     letter-spacing: 0.5vh;
}

.s3-text {
    font-family: "Futura";
    margin-top: 2vh;
    padding: 0 50px;
    text-align: justify;
    font-size: 16px;
    text-align: center;
    color: #F0F0F0;
}


.p3-logos {
    text-align: center;
    width: 50%; 

    display: flex;
    padding: 10px;
    
}

.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper * {
  box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__photo.prev {
  transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__photo.next {
  transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;

  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  
/*  opacity: 0;  Hide buttons until carousel is initialised 
  transition:opacity 1s;*/
}

.carousel__button--prev {
  left:0;
}

.carousel__button--next {
  right:0;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid #E3E3E3;
  border-bottom: 2px solid #E3E3E3;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.f1 {

}

#p3 {
    background-image: url(../img/fondo.png);
}


#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }

 /* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {


 /* Medium devices (tablets, 768px and up)*/
}

@media (min-width: 768px) {

#wrapper {width:90%;  margin: 0 auto; }

#content {width:70%; float:left; }

#sidebar {width:30%; float:right; }

 /* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

}

} 

 /* // Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {

#wrapper {width:90%;  margin: 0 auto; }

}



footer {
    height: 50vh;
    text-align: left;
    padding: 0;

  }

  .pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25%;

  }

  .items-footer {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    margin-right: 0;
    padding-top: 0;
  }

  .contacto h4 {
    margin-top: 40px;
  }

  .redes {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .redes h4 {
    margin-top: 40px;
  }
  .redes a {
    margin-bottom: 20px;
  }
  .contacto {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    margin: 30px 0 0 0;
    padding: 0 10px 0 10px;
}